html,
    body,
    h1,
    h2,
    h3,
    h4 {
      font-family: "Lato", sans-serif
    }

    .mySlides {
      display: none
    }

    .garage-tag,
    .fa {
      cursor: pointer
    }

    .garage-tag {
      height: 15px;
      width: 15px;
      padding: 0;
      margin-top: 6px
    }