<html>
  <head>
    <title>Subcription template</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="app.component.scss">
  </head>

  <body>
  <h2>Inscription :</h2>
    <form method="post" action="">
        <label for="lname">Nom:</label><br>
        <input type="text" id="lname" name="lname"><br><br>

        <label for="fname">Prénom:</label><br>
        <input type="text" id="fname" name="fname"><br><br>

        <label for="mail">Adresse mail:</label><br>
        <input type="text" id="mail" name="mail"><br><br>

        <label for="phoneNumber">Téléphone:</label><br>
        <input type="text" id="phoneNumber" name="phoneNumber"><br><br>

        <label for="address">Adresse:</label><br>
        <input type="text" id="address" name="address"><br><br>

        <label for="age">Age:</label><br>
        <input type="text" id="age" name="age"><br><br>

        <input type="submit" value="Valider">
    </form>
  
  <router-outlet></router-outlet>
  </body>
</html>

